<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header class="header-container">
        <h1>MemeHub</h1>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main>
        <section>
            <h2>Welcome to MemeHub</h2>
            <p>At MemeHub, we believe that laughter is 
                the universal language that connects us all. In a world filled with
                daily challenges, stress, and responsibilities, we've created a haven 
                where humor takes center stage. Say hello to a vibrant community where sharing, creating,
                and appreciating memes is not just an activity but a way of life.</p>
        </section>

        <section>
            <h2>Bringing Joy Through Memes</h2>
            <p>MemeHub is more than just a platform; 
                it's a celebration of wit, creativity, and the joy of shared laughter. 
                Our mission is simple: to provide a space where you can immerse yourself
                in the world of memes. Whether you're a seasoned meme connoisseur or just discovering 
                the magic of internet humor, there's a place for you here.</p>
        </section>

        <section>
            <h2>A Memeverse of Possibilities</h2>
            <ul>
                <li><strong>Post Memes:</strong> Express yourself with the latest and greatest memes. From dank to wholesome, our diverse community appreciates all flavors of humor.</li>
                <li><strong>Share and Connect:</strong> Spread the joy by sharing your favorite memes with friends, family, and the MemeHub community. Connect with like-minded individuals who appreciate a good laugh.</li>
                <li><strong>Comment and React:</strong>  Dive into discussions, share your thoughts, and react to the hilarity unfolding on your feed. Engage with the community and let the laughter ripple through our digital space.</li>
                <li><strong>Save Your Favorites:</strong> Never lose track of those gems that had you in stitches. Save and organize your favorite memes for a quick dose of laughter whenever you need it.</li>
                <li><strong>Create Memes:</strong> Unleash your inner comedian with our user-friendly meme creation tools. Craft original content and watch it resonate with the community.</li>
            </ul>
        </section>

        <section>
            <h2>Join the Laughter Revolution</h2>
            <p>MemeHub is more than an app; it's a community that thrives on the infectious power of laughter. Join us in creating a memeverse where humor knows no bounds. Whether you're here for a quick chuckle, a deep belly laugh, or to showcase your comedic genius, you're not just a user — you're a valued member of our laughter revolution</p>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>